
/* Your CSS Code here. */
button#btn{
	background-color:#000;
	color:#ffff;
	border:none;
	border-radius:5px;
	cursor: pointer;
	
}
#btn:hover{
	background-color:yellow;
	color:#000;
	border-radius:30px;
}